In [1]:
import pandas as pd, ipywidgets as widgets, numpy as np, matplotlib.pyplot as plt, io
raw_uploader, eln_uploader = widgets.FileUpload(multiple = False), widgets.FileUpload(multiple = False)
first_population_widget = widgets.Text(placeholder='First Pop',description='First Population:', disabled=False)
second_population_widget = widgets.Text(placeholder='Second Pop',description='Second Population:', disabled=False)
display("Upload iQue3 Data (csv)")
display(raw_uploader)
display("Upload ELN w/ Antibodies Sheet (xlsx)")
display(eln_uploader)
display(first_population_widget)
display(second_population_widget)

'Upload iQue3 Data (csv)'

FileUpload(value={}, description='Upload')

'Upload ELN w/ Antibodies Sheet (xlsx)'

FileUpload(value={}, description='Upload')

Text(value='', description='First Population:', placeholder='First Pop')

Text(value='', description='Second Population:', placeholder='Second Pop')

In [2]:
iquename, elnname = list(raw_uploader.value.keys())[0], list(eln_uploader.value.keys())[0]
iquedata = pd.read_csv(io.BytesIO(raw_uploader.value[iquename]['content']))
eln = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']))
ab_sheet = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']), sheet_name = "Antibody Plate Map")
first_population_name = first_population_widget.value
second_population_name = second_population_widget.value
iquedata

,Experiment,Analysis,Plate,Export Date and Time,Well ID,Row,Column,Well Type,Count of All Wells,Median BL1-H of singlets,Median RL1-H of singlets,Count of singlets
0,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,A01,A,1,Human C5aR,5234,3383021.5,28766.5,1650
1,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,B01,B,1,Human C5aR,5855,4712157.0,33606.0,1733
2,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,C01,C,1,Human C5aR,5255,3137905.0,47926.0,1289
3,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,D01,D,1,Human C5aR,4587,3428959.0,42174.0,1318
4,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,E01,E,1,Human C5aR,4204,3222042.5,66800.5,1264
...,...,...,...,...,...,...,...,...,...,...,...,...
283,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,L22,L,22,Negative,1724,10844.0,87023.0,773
284,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,M22,M,22,Negative,1802,10787.0,94489.0,741
285,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,N22,N,22,Negative,1778,10789.5,94274.0,636
286,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,O22,O,22,Negative,1985,10111.0,2656.0,827
287,22_09_20 C5aR Hs vs Ms Cross Reactivity,Analysis 1,Plate 1,9/20/22 14:47,P22,P,22,Negative,1651,10449.0,2276.0,640

In [3]:
data_cleaned = iquedata[["Plate", "Well ID", "Well Type", "Median RL1-H of singlets"]]
data_cleaned

       Plate Well ID   Well Type  Median RL1-H of singlets
0    Plate 1     A01  Human C5aR                   28766.5
1    Plate 1     B01  Human C5aR                   33606.0
2    Plate 1     C01  Human C5aR                   47926.0
3    Plate 1     D01  Human C5aR                   42174.0
4    Plate 1     E01  Human C5aR                   66800.5
..       ...     ...         ...                       ...
283  Plate 1     L22    Negative                   87023.0
284  Plate 1     M22    Negative                   94489.0
285  Plate 1     N22    Negative                   94274.0
286  Plate 1     O22    Negative                    2656.0
287  Plate 1     P22    Negative                    2276.0

[288 rows x 4 columns]

In [4]:
#Return data frame with only samples of the well type specified
def clean_for_well_type(well_type_string):
    return data_cleaned[data_cleaned["Well Type"] == well_type_string]

#Average function that takes a string indicating the well type of interest (marked in iQue3 software, or manually changed
#Separates n=1 and n=2 replicates from 384 well format, resets indeces, and averages
#Returns a series with the averaged MFI ratios, removing the replicate wells
def average_MFI(well_type_string):
    selected_wells = clean_for_well_type(well_type_string)
    MFIs = selected_wells["Median RL1-H of singlets"]
    firsts = MFIs.iloc[::2]
    seconds = MFIs.iloc[1::2]
    firsts.reset_index(inplace = True, drop = True)
    seconds.reset_index(inplace = True, drop = True)
    average = firsts + seconds
    average = average/2
    return average

#Calculates the MFI ratio given a positive and negative series, 
#and appends the MFI ratio to the original data frame, excluding the negative population
#positive_series: the series of the positive values
#negative_series: the series of the negative (untransfected) values
#positive_string: the string that marks the positive samples in the Well Type column from iQue3 csv
def calculate_analysis_sheet_2pop(first_pop_series, second_pop_series, negative_series, first_population_string, second_population_string):
    first_pop_MFI_ratio = first_pop_series/negative_series
    second_pop_MFI_ratio = second_pop_series/negative_series
    original_positive = clean_for_well_type(first_population_string)
    original_positive = original_positive[::2]
    original_positive.reset_index(inplace = True, drop = True)
    original_positive[first_population_string + " MFI Ratio"] = first_pop_MFI_ratio
    original_positive[second_population_string + " MFI Ratio"] = second_pop_MFI_ratio
    analysis_sheet = pd.concat([original_positive, ab_sheet], axis = 1)
    analysis_sheet.index += 1
    return analysis_sheet[["Plate", "Well ID", "Well Type", first_population_string + " MFI Ratio", 
                           second_population_string + " MFI Ratio", 
                           "Antibody", "Concentration"]]

In [5]:
averageFirstPopulation = average_MFI(first_population_name)
averageSecondPopulation = average_MFI(second_population_name)
averageParental = average_MFI("Negative")

In [8]:
#Create new DF for MFI ratios(don't modify originals)
analyzed_data = calculate_analysis_sheet_2pop(averageFirstPopulation, averageSecondPopulation,
                                        averageParental, first_population_name, second_population_name)
analyzed_data.to_excel("Flow Binding Primary Screen.xlsx", sheet_name='Analyzed Data')
AllLeadsSorted = analyzed_data.sort_values(by= first_population_name + " MFI Ratio", ascending = False)
AllLeadsSorted

,Plate,Well ID,Well ID,Well Type,Human C5aR MFI Ratio,Mouse C5aR MFI Ratio,Antibody,Concentration
16,Plate 1,O02,H2,Human C5aR,16.718560,1.586434,TB639-34,0.24
15,Plate 1,M02,G2,Human C5aR,8.147435,1.490090,TB639-36,0.11
8,Plate 1,O01,H1,Human C5aR,5.088867,2.036667,TB639-05,0.13
36,Plate 1,G05,D5,Human C5aR,2.399892,1.450126,SC124-105,0.56
13,Plate 1,I02,E2,Human C5aR,2.183792,1.005965,TB639-40,0.47
...,...,...,...,...,...,...,...,...
73,NaN,NaN,D10,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,E10,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,F10,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,G10,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,H10,NaN,NaN,NaN,NaN,NaN

In [ ]:
# #Sort DF by highest MFI ratio (top hits)
# AllLeadsSorted = MFIRatio_Antibody_cleaned.sort_values(by="MFI Ratio", ascending = False)
# Top10 = MFIRatio_Antibody_cleaned.nlargest(10, "MFI Ratio")
# #Top10 = Top10.append(MFIRatio_Antibody_cleaned.loc[MFIRatio_Antibody_cleaned["DNA"] == "SC-175-017"])
# fig, ax = plt.subplots()
# ax.scatter(x = AllLeadsSorted["Protein Concentration (ug/uL)"], y=AllLeadsSorted["MFI Ratio"], alpha = .2, color = "blue")
# ax.scatter(x = Top10["Protein Concentration (ug/uL)"], y = Top10["MFI Ratio"], alpha = .8, color = "blue", label = "Top Hits")
# ax.set_title("CD40 Primary Screen")
# ax.set_xlabel("Concentration (mg/ml)")
# ax.set_ylabel("MFI Ratio \n Transfected/Untransfected")
# ax.legend()

# texts = []
# for row in Top10.itertuples(index = False):
#     ab, conc, MFI = row[4], row[5], row[3]
#     ax.annotate(row[4], xy = (conc, MFI), textcoords = "offset points", xytext = (8, -2), ha ='left')
#     #texts.append(plt.text(ab, conc, MFI))