In [1]:
import pandas as pd, ipywidgets as widgets, numpy as np, matplotlib.pyplot as plt, io
raw_uploader, eln_uploader = widgets.FileUpload(multiple = False), widgets.FileUpload(multiple = False)
display("Upload iQue3 Data (csv)")
display(raw_uploader)
display("Upload ELN w/ Antibodies Sheet (xlsx)")
display(eln_uploader)

'Upload iQue3 Data (csv)'

FileUpload(value={}, description='Upload')

'Upload ELN w/ Antibodies Sheet (xlsx)'

FileUpload(value={}, description='Upload')

In [2]:
iquename, elnname = list(raw_uploader.value.keys())[0], list(eln_uploader.value.keys())[0]
iquedata = pd.read_csv(io.BytesIO(raw_uploader.value[iquename]['content']))
eln = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']))
ab_sheet = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']), sheet_name = "Antibody Plate Map")
iquedata

,Experiment,Analysis,Plate,Export Date and Time,Well ID,Row,Column,Well Type,Count of All Wells,Median BL1-H of singlets,Median RL1-H of singlets,Count of singlets
0,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,A01,A,1,A2a,5721,12315476.0,2857980.0,1864
1,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,B01,B,1,A2a,6619,10337342.0,2730841.0,2889
2,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,C01,C,1,A2a,3840,14080844.0,4170739.5,1224
3,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,D01,D,1,A2a,4418,13668953.0,3522645.5,1544
4,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,E01,E,1,A2a,5028,12003735.0,2264594.0,2059
...,...,...,...,...,...,...,...,...,...,...,...,...
295,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,P22,P,22,Negative,1605,11362.0,693327.0,456
296,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,A23,A,23,Negative,1243,11626.0,367201.0,119
297,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,B23,B,23,Negative,1221,11390.0,297713.0,373
298,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,C23,C,23,Negative,1068,11682.0,767562.5,302
299,22_09_06 A2a LM Variants Primary Screen Norm +...,Analysis 1,Plate 2,9/6/22 16:11,D23,D,23,Negative,1088,12396.5,626696.0,346

In [3]:
data_cleaned = iquedata[["Plate", "Well ID", "Well Type", "Median RL1-H of singlets"]]
data_cleaned

       Plate Well ID Well Type  Median RL1-H of singlets
0    Plate 2     A01       A2a                 2857980.0
1    Plate 2     B01       A2a                 2730841.0
2    Plate 2     C01       A2a                 4170739.5
3    Plate 2     D01       A2a                 3522645.5
4    Plate 2     E01       A2a                 2264594.0
..       ...     ...       ...                       ...
295  Plate 2     P22  Negative                  693327.0
296  Plate 2     A23  Negative                  367201.0
297  Plate 2     B23  Negative                  297713.0
298  Plate 2     C23  Negative                  767562.5
299  Plate 2     D23  Negative                  626696.0

[300 rows x 4 columns]

In [4]:
#Return data frame with only samples of the well type specified
def clean_for_well_type(well_type_string):
    return data_cleaned[data_cleaned["Well Type"] == well_type_string]

#Average function that takes a string indicating the well type of interest (marked in iQue3 software, or manually changed
#Separates n=1 and n=2 replicates from 384 well format, resets indeces, and averages
#Returns a series with the averaged MFI ratios, removing the replicate wells
def average_MFI(well_type_string):
    selected_wells = clean_for_well_type(well_type_string)
    MFIs = selected_wells["Median RL1-H of singlets"]
    firsts = MFIs.iloc[::2]
    seconds = MFIs.iloc[1::2]
    firsts.reset_index(inplace = True, drop = True)
    seconds.reset_index(inplace = True, drop = True)
    average = firsts + seconds
    average = average/2
    return average

#Calculates the MFI ratio given a positive and negative series, 
#and appends the MFI ratio to the original data frame, excluding the negative population
#positive_series: the series of the positive values
#negative_series: the series of the negative (untransfected) values
#positive_string: the string that marks the positive samples in the Well Type column from iQue3 csv
def calculate_MFI_Ratio(positive_series, negative_series, positive_string):
    MFI_ratio = positive_series/negative_series
    original_positive = clean_for_well_type(positive_string)
    original_positive = original_positive[::2]
    original_positive.reset_index(inplace = True, drop = True)
    original_positive["MFI Ratio"] = MFI_ratio
    MFIs_Antibody = pd.concat([original_positive, ab_sheet], axis = 1)
    MFIs_Antibody.index += 1
    return MFIs_Antibody[["Plate", "Well ID", "Well Type", "MFI Ratio", "DNA", "Protein Concentration"]]

In [7]:
pos_string = "A2a"
averagePositive = average_MFI(pos_string)
averageNegative = average_MFI("Negative")

In [8]:
#Create new DF for MFI ratios(don't modify originals)
MFI_Ratios_Antibody = calculate_MFI_Ratio(averagePositive, averageNegative, pos_string)
MFI_Ratios_Antibody
MFI_Ratios_Antibody.to_excel(pos_string + "Well_ID_MFI_Ratio.xlsx", sheet_name='Analyzed Data')
AllLeadsSorted = MFI_Ratios_Antibody.sort_values(by="MFI Ratio", ascending = False)
AllLeadsSorted

,Plate,Well ID,Well ID,Well Type,MFI Ratio,DNA,Protein Concentration
47,Plate 2,M06,G6,A2a,14.945438,TB756-H_control + TB756_L4-few,0.015
49,Plate 2,A07,A7,A2a,7.041022,TB756-H_control + TB756_L7-zero,0.015
45,Plate 2,I06,E6,A2a,6.005863,TB756-H_control + TB756_L1-few,0.015
39,Plate 2,M05,G5,A2a,5.738209,TB756_H4-zero + TB756-L_control,0.015
2,Plate 2,C01,B1,A2a,5.420037,TB754_H1-few + TB754-L_control,0.015
42,Plate 2,C06,B6,A2a,5.254200,TB756_H7-few + TB756-L_control,0.015
44,Plate 2,G06,D6,A2a,5.030903,TB756_H9-few + TB756-L_control,0.015
43,Plate 2,E06,C6,A2a,4.900456,TB756_H8-few + TB756-L_control,0.015
1,Plate 2,A01,A1,A2a,4.769294,TB754-H_control + TB754-L_control_A1,0.015
36,Plate 2,G05,D5,A2a,4.410749,TB756_H1-few + TB756-L_control,0.015
38,Plate 2,K05,F5,A2a,4.051224,TB756_H3-zero + TB756-L_control,0.015
48,Plate 2,O06,H6,A2a,3.752541,TB756-H_control + TB756_L6-zero,0.015
37,Plate 2,I05,E5,A2a,3.679253,TB756_H2-few + TB756-L_control,0.015
50,Plate 2,C07,B7,A2a,3.588480,TB756-H_control + TB756_L8-zero,0.015
40,Plate 2,O05,H5,A2a,3.537815,TB756_H5-zero + TB756-L_control,0.015
46,Plate 2,K06,F6,A2a,3.374340,TB756-H_control + TB756_L3-few,0.015
35,Plate 2,E05,C5,A2a,3.265940,TB756-H_control + TB756-L_control,0.015
13,Plate 2,I02,E2,A2a,2.902731,TB754-H_control + TB754_L5-few,0.015
29,Plate 2,I04,E4,A2a,2.870833,TB755-H_control + TB755_L4_zero,0.015
8,Plate 2,O01,H1,A2a,2.810737,TB754_H8-zero + TB754-L_control,0.015
10,Plate 2,C02,B2,A2a,2.631638,TB754-H_control + TB754_L2-few,0.015
12,Plate 2,G02,D2,A2a,2.606826,TB754-H_control + TB754_L4-few,0.015
3,Plate 2,E01,C1,A2a,2.460745,TB754_H2-few + TB754-L_control,0.015
5,Plate 2,I01,E1,A2a,2.426227,TB754_H4-few + TB754-L_control,0.015
7,Plate 2,M01,G1,A2a,2.327165,TB754_H6-few + TB754-L_control,0.015
11,Plate 2,E02,C2,A2a,2.321165,TB754-H_control + TB754_L3-few,0.015
41,Plate 2,A06,A6,A2a,2.299377,TB756_H6-zero + TB756-L_control,0.015
6,Plate 2,K01,F1,A2a,2.212785,TB754_H5-few + TB754-L_control,0.015
14,Plate 2,K02,F2,A2a,2.158007,TB754-H_control + TB754_L6-few,0.015
9,Plate 2,A02,A2,A2a,1.599270,TB754-H_control + TB754_L1-few,0.015
24,Plate 2,O03,H3,A2a,1.303965,TB755-H8_few + TB755-L_control,0.010
16,Plate 2,O02,H2,A2a,1.273227,TB755_H1_zero + TB755-L_control,0.015
31,Plate 2,M04,G4,A2a,1.222827,TB755-H_control + TB755-L10_few,0.015
15,Plate 2,M02,G2,A2a,1.088090,TB755-H_control + TB755-L_control,0.015
4,Plate 2,G01,D1,A2a,1.036513,TB754_H3-few + TB754-L_control,0.015
28,Plate 2,G04,D4,A2a,0.904904,TB755-H_control + TB755_L3_zero,0.015
22,Plate 2,K03,F3,A2a,0.850760,TB755-H6_few + TB755-L_control,0.015
33,Plate 2,A05,A5,A2a,0.824548,TB755-H_control + TB755-L8_few,0.015
23,Plate 2,M03,G3,A2a,0.791247,TB755-H7_few + TB755-L_control,0.015
27,Plate 2,E04,C4,A2a,0.661167,TB755-H_control + TB755_L2_zero,0.015
25,Plate 2,A04,A4,A2a,0.651397,TB755-H9_few + TB755-L_control,0.015
21,Plate 2,I03,E3,A2a,0.633992,TB755-H10_few + TB755-L_control,0.015
34,Plate 2,C05,B5,A2a,0.619082,TB755-H_control + TB755-L9_few,0.015
18,Plate 2,C03,B3,A2a,0.552191,TB755_H3_zero + TB755-L_control,0.015
17,Plate 2,A03,A3,A2a,0.545860,TB755_H2_zero + TB755-L_control,0.015
26,Plate 2,C04,B4,A2a,0.520746,TB755-H_control + TB755_L1_zero,0.015
19,Plate 2,E03,C3,A2a,0.515449,TB755_H4_zero + TB755-L_control,0.015
20,Plate 2,G03,D3,A2a,0.406383,TB755_H5_zero + TB755-L_control,0.020
30,Plate 2,K04,F4,A2a,0.389044,TB755-H_control + TB755_L5_zero,0.015
32,Plate 2,O04,H4,A2a,0.165098,TB755-H_control + TB755-L7_few,0.015

In [ ]:
# #Sort DF by highest MFI ratio (top hits)
# AllLeadsSorted = MFIRatio_Antibody_cleaned.sort_values(by="MFI Ratio", ascending = False)
# Top10 = MFIRatio_Antibody_cleaned.nlargest(10, "MFI Ratio")
# #Top10 = Top10.append(MFIRatio_Antibody_cleaned.loc[MFIRatio_Antibody_cleaned["DNA"] == "SC-175-017"])
# fig, ax = plt.subplots()
# ax.scatter(x = AllLeadsSorted["Protein Concentration (ug/uL)"], y=AllLeadsSorted["MFI Ratio"], alpha = .2, color = "blue")
# ax.scatter(x = Top10["Protein Concentration (ug/uL)"], y = Top10["MFI Ratio"], alpha = .8, color = "blue", label = "Top Hits")
# ax.set_title("CD40 Primary Screen")
# ax.set_xlabel("Concentration (mg/ml)")
# ax.set_ylabel("MFI Ratio \n Transfected/Untransfected")
# ax.legend()

# texts = []
# for row in Top10.itertuples(index = False):
#     ab, conc, MFI = row[4], row[5], row[3]
#     ax.annotate(row[4], xy = (conc, MFI), textcoords = "offset points", xytext = (8, -2), ha ='left')
#     #texts.append(plt.text(ab, conc, MFI))