In [1]:
import pandas as pd, ipywidgets as widgets, numpy as np, matplotlib.pyplot as plt
import io as io
from ipywidgets import interact, interactive, fixed, interact_manual
raw_uploader, eln_uploader = widgets.FileUpload(multiple = False), widgets.FileUpload(multiple = False)
display("Upload iQue3 Data (csv)")
display(raw_uploader)
display("Upload ELN w/ Antibodies Sheet (xlsx)")
display(eln_uploader)

'Upload iQue3 Data (csv)'

FileUpload(value={}, description='Upload')

'Upload ELN w/ Antibodies Sheet (xlsx)'

FileUpload(value={}, description='Upload')

In [2]:
iquename, elnname = list(raw_uploader.value.keys())[0], list(eln_uploader.value.keys())[0]
iquedata = pd.read_csv(io.BytesIO(raw_uploader.value[iquename]['content']))
eln = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']))
ab_sheet = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']), sheet_name = "Antibody Plate Map")
iquedata.rename(columns = {'Plate' : 'iQue3 Plate','Well ID':'iQue3 384 Well ID'}, inplace = True)
ab_sheet.rename(columns = {'Plate' : 'Antibody Plate','Well ID':'Antibody Platemap 96 Well ID'}, inplace = True)
data_cleaned = iquedata[["iQue3 Plate", "iQue3 384 Well ID", "Well Type", "Median RL1-H of singlets", "Count of singlets"]]
data_cleaned

,iQue3 Plate,iQue3 384 Well ID,Well Type,Median RL1-H of singlets,Count of singlets
0,Xyphos A2a Primary,A01,Positive,406426.0,1119
1,Xyphos A2a Primary,B01,Positive,374469.0,851
2,Xyphos A2a Primary,C01,Positive,306739.5,448
3,Xyphos A2a Primary,D01,Positive,337146.0,1203
4,Xyphos A2a Primary,E01,Positive,333427.0,1667
...,...,...,...,...,...
347,Xyphos A2a Primary,L23,Negative,4806.5,210
348,Xyphos A2a Primary,M23,Negative,5105.0,491
349,Xyphos A2a Primary,N23,Negative,5062.0,253
350,Xyphos A2a Primary,O23,Negative,5028.5,1010
351,Xyphos A2a Primary,P23,Negative,5439.0,534

In [3]:
#Return cleaned iQue3 data with only samples of the well type specified
def clean_for_well_type(well_type_string):
    return data_cleaned[data_cleaned["Well Type"] == well_type_string]

#Average function that takes a string indicating which well type to average (well_type_string)
#Also takes a string indicating what data from the inidicated well type to average (to_average_string)
#ie. "Median RL1H" or "Cell Count"(
#Separates n=1 and n=2 replicates from 384 well format, resets indeces, and averages
#Returns a series with the averaged MFI ratios, removing the replicate wells
def average(well_type_string, to_average_string):
    selected_wells = clean_for_well_type(well_type_string)
    values_to_average = selected_wells[to_average_string]
    return average_series(values_to_average)

#Average function that takes a series with n=1, n=2 replicates in sequential order within the series, and 
#Separates n=1 and n=2 replicates resets indeces, and calculates average
#Returns a series with the averaged MFI ratios, removing the replicate wells
def average_series(series_to_average):
    firsts = series_to_average.iloc[::2]
    seconds = series_to_average.iloc[1::2]
    firsts.reset_index(inplace = True, drop = True)
    seconds.reset_index(inplace = True, drop = True)
    averaged_series = firsts + seconds
    averaged_series = averaged_series/2
    return averaged_series


#Calculates the MFI ratio given a positive and negative series, 
#and appends the MFI ratio to the original data frame, excluding the negative population
#Calculates the average cell count for each duplicate, and appends average cell count to original data frame
def calculate_analysis_sheet(positive, negative):
    MFI_ratio = positive/negative
    original_positive = clean_for_well_type("Positive")
    original_positive = original_positive[::2]
    original_positive.reset_index(inplace = True, drop = True)
    original_positive["MFI Ratio"] = MFI_ratio
    MFIs_Antibody = pd.concat([original_positive, ab_sheet], axis = 1)
    MFIs_Antibody.index += 1
    #averagePositiveCounts = average("Positive", "Count of singlets")
    return MFIs_Antibody

In [4]:
#Create average MFI of positive population series and average MFI of negative population series
averagePositive = average("Positive", "Median RL1-H of singlets")
averageNegative = average("Negative", "Median RL1-H of singlets")

#Create new DF for MFI ratios(don't modify originals)
analyzed_data = calculate_analysis_sheet(averagePositive, averageNegative)
analyzed_data.to_excel("Flow Binding MFI Ratios.xlsx", sheet_name='Analyzed Data')
AllLeadsSorted = analyzed_data.sort_values(by="MFI Ratio", ascending = False)
analyzed_data
#AllLeadsSorted

,iQue3 Plate,iQue3 384 Well ID,Well Type,Median RL1-H of singlets,Count of singlets,MFI Ratio,Lot #,Well,Protein Name,Protein Concentration (ug/uL),BPP
1,Xyphos A2a Primary,A01,Positive,406426.0,1119,13.827269,56924.0,A1,PRJ133A-006,0.40,614
2,Xyphos A2a Primary,C01,Positive,306739.5,448,24.982947,56925.0,B1,PRJ133A-007,1.09,614
3,Xyphos A2a Primary,E01,Positive,333427.0,1667,12.090969,56926.0,C1,PRJ133A-021,0.04,614
4,Xyphos A2a Primary,G01,Positive,440567.0,1201,11.526868,56927.0,D1,PRJ133A-030,0.21,614
5,Xyphos A2a Primary,I01,Positive,568062.0,1234,9.375956,56928.0,E1,PRJ133A-039,0.52,614
...,...,...,...,...,...,...,...,...,...,...,...
84,Xyphos A2a Primary,G11,Positive,8118.0,863,1.789304,NaN,D11,Blank,NaN,NaN
85,Xyphos A2a Primary,I11,Positive,8573.5,1540,1.730350,NaN,E11,Blank,NaN,NaN
86,Xyphos A2a Primary,K11,Positive,7588.5,898,1.567166,NaN,F11,Blank,NaN,NaN
87,Xyphos A2a Primary,M11,Positive,7893.0,1469,1.543818,NaN,G11,Blank,NaN,NaN
88,Xyphos A2a Primary,O11,Positive,7481.5,982,1.400382,NaN,H11,Blank,NaN,NaN

In [ ]:
# #Sort DF by highest MFI ratio (top hits)
# AllLeadsSorted = MFIRatio_Antibody_cleaned.sort_values(by="MFI Ratio", ascending = False)
# Top10 = MFIRatio_Antibody_cleaned.nlargest(10, "MFI Ratio")
# #Top10 = Top10.append(MFIRatio_Antibody_cleaned.loc[MFIRatio_Antibody_cleaned["DNA"] == "SC-175-017"])
# fig, ax = plt.subplots()
# ax.scatter(x = AllLeadsSorted["Protein Concentration (ug/uL)"], y=AllLeadsSorted["MFI Ratio"], alpha = .2, color = "blue")
# ax.scatter(x = Top10["Protein Concentration (ug/uL)"], y = Top10["MFI Ratio"], alpha = .8, color = "blue", label = "Top Hits")
# ax.set_title("CD40 Primary Screen")
# ax.set_xlabel("Concentration (mg/ml)")
# ax.set_ylabel("MFI Ratio \n Transfected/Untransfected")
# ax.legend()

# texts = []
# for row in Top10.itertuples(index = False):
#     ab, conc, MFI = row[4], row[5], row[3]
#     ax.annotate(row[4], xy = (conc, MFI), textcoords = "offset points", xytext = (8, -2), ha ='left')
#     #texts.append(plt.text(ab, conc, MFI))