In [1]:
import pandas as pd, ipywidgets as widgets, numpy as np, matplotlib.pyplot as plt, io
raw_uploader, eln_uploader = widgets.FileUpload(multiple = False), widgets.FileUpload(multiple = False)
display("Upload iQue3 Data (csv)")
display(raw_uploader)
display("Upload ELN w/ Antibodies Sheet (xlsx)")
display(eln_uploader)
well_type_widget = widgets.Text(placeholder='Type something',description='Well Type:', disabled=False)
display(well_type_widget)

'Upload iQue3 Data (csv)'

FileUpload(value={}, description='Upload')

'Upload ELN w/ Antibodies Sheet (xlsx)'

FileUpload(value={}, description='Upload')

Text(value='', description='Well Type:', placeholder='Type something')

In [7]:
iquename, elnname = list(raw_uploader.value.keys())[0], list(eln_uploader.value.keys())[0]
iquedata = pd.read_csv(io.BytesIO(raw_uploader.value[iquename]['content']))
eln = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']))
ab_sheet = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']), sheet_name = "Antibody Plate Map")
well_type = well_type_widget.value
iquedata

,Experiment,Analysis,Plate,Export Date and Time,Well ID,Row,Column,Well Type,Count of All Wells,Median BL1-H of singlets,Median RL1-H of singlets,Count of singlets
0,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,A01,A,1,A2a,6329,2801848.0,16361.0,767
1,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,B01,B,1,A2a,5362,2915613.0,14768.5,802
2,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,C01,C,1,A2a,4530,3208278.0,24198.0,825
3,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,D01,D,1,A2a,4424,2275133.0,23612.5,758
4,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,E01,E,1,A2a,4905,2470377.0,9967.5,894
...,...,...,...,...,...,...,...,...,...,...,...,...
379,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,L24,L,24,Negative,1269,10792.5,5714.0,334
380,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,M24,M,24,Negative,1235,11082.0,5029.0,249
381,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,N24,N,24,Negative,1144,11869.5,5698.5,156
382,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,O24,O,24,Negative,1279,11152.0,4968.0,167
383,22_09_19 Xyphos A2a Primary Screen,Analysis 1,Plate 3,9/19/22 16:13,P24,P,24,Negative,1899,10784.0,4776.0,205

In [8]:
data_cleaned = iquedata[["Plate", "Well ID", "Well Type", "Median RL1-H of singlets"]]
data_cleaned

       Plate Well ID Well Type  Median RL1-H of singlets
0    Plate 3     A01       A2a                   16361.0
1    Plate 3     B01       A2a                   14768.5
2    Plate 3     C01       A2a                   24198.0
3    Plate 3     D01       A2a                   23612.5
4    Plate 3     E01       A2a                    9967.5
..       ...     ...       ...                       ...
379  Plate 3     L24  Negative                    5714.0
380  Plate 3     M24  Negative                    5029.0
381  Plate 3     N24  Negative                    5698.5
382  Plate 3     O24  Negative                    4968.0
383  Plate 3     P24  Negative                    4776.0

[384 rows x 4 columns]

In [9]:
#Return data frame with only samples of the well type specified
def clean_for_well_type(well_type_string):
    return data_cleaned[data_cleaned["Well Type"] == well_type_string]

#Average function that takes a string indicating the well type of interest (marked in iQue3 software, or manually changed
#Separates n=1 and n=2 replicates from 384 well format, resets indeces, and averages
#Returns a series with the averaged MFI ratios, removing the replicate wells
def average_MFI(well_type_string):
    selected_wells = clean_for_well_type(well_type_string)
    MFIs = selected_wells["Median RL1-H of singlets"]
    firsts = MFIs.iloc[::2]
    seconds = MFIs.iloc[1::2]
    firsts.reset_index(inplace = True, drop = True)
    seconds.reset_index(inplace = True, drop = True)
    average = firsts + seconds
    average = average/2
    return average

#Calculates the MFI ratio given a positive and negative series, 
#and appends the MFI ratio to the original data frame, excluding the negative population
#positive_series: the series of the positive values
#negative_series: the series of the negative (untransfected) values
#positive_string: the string that marks the positive samples in the Well Type column from iQue3 csv
def calculate_MFI_Ratio(positive_series, negative_series, positive_string):
    MFI_ratio = positive_series/negative_series
    original_positive = clean_for_well_type(positive_string)
    original_positive = original_positive[::2]
    original_positive.reset_index(inplace = True, drop = True)
    original_positive["MFI Ratio"] = MFI_ratio
    MFIs_Antibody = pd.concat([original_positive, ab_sheet], axis = 1)
    MFIs_Antibody.index += 1
    return MFIs_Antibody[["Plate", "Well ID", "Well Type", "MFI Ratio", "Protein Name", "Protein Concentration"]]

In [10]:
averageTransfected = average_MFI(well_type)
averageParental = average_MFI("Negative")

In [11]:
#Create new DF for MFI ratios(don't modify originals)
MFI_Ratios_Antibody = calculate_MFI_Ratio(averageTransfected, averageParental, well_type)
MFI_Ratios_Antibody
MFI_Ratios_Antibody.to_excel(well_type + "Well_ID_MFI_Ratio.xlsx", sheet_name='Analyzed Data')
AllLeadsSorted = MFI_Ratios_Antibody.sort_values(by="MFI Ratio", ascending = False)
AllLeadsSorted

      Plate Well ID Well Type  MFI Ratio Protein Name  Protein Concentration
51  Plate 3     E15       A2b   3.483180  PRJ134-H084                   0.04
53  Plate 3     I15       A2b   3.408304  PRJ134-H086                   0.03
46  Plate 3     K14       A2b   3.084529  PRJ134-H079                   0.32
60  Plate 3     G16       A2b   3.031976  PRJ134-H093                   0.03
47  Plate 3     M14       A2b   2.835875  PRJ134-H080                   0.04
..      ...     ...       ...        ...          ...                    ...
39  Plate 3     M13       A2b   0.715184  PRJ134-H072                   0.04
24  Plate 3     O11       A2b   0.635232  PRJ134-H056                   0.04
1   Plate 3     A09       A2b   0.603084  PRJ134-H033                   0.04
16  Plate 3     O10       A2b   0.403949  PRJ134-H048                   0.04
6   Plate 3     K09       A2b   0.375694  PRJ134-H038                   0.04

[64 rows x 6 columns]

In [ ]:
# #Sort DF by highest MFI ratio (top hits)
# AllLeadsSorted = MFIRatio_Antibody_cleaned.sort_values(by="MFI Ratio", ascending = False)
# Top10 = MFIRatio_Antibody_cleaned.nlargest(10, "MFI Ratio")
# #Top10 = Top10.append(MFIRatio_Antibody_cleaned.loc[MFIRatio_Antibody_cleaned["DNA"] == "SC-175-017"])
# fig, ax = plt.subplots()
# ax.scatter(x = AllLeadsSorted["Protein Concentration (ug/uL)"], y=AllLeadsSorted["MFI Ratio"], alpha = .2, color = "blue")
# ax.scatter(x = Top10["Protein Concentration (ug/uL)"], y = Top10["MFI Ratio"], alpha = .8, color = "blue", label = "Top Hits")
# ax.set_title("CD40 Primary Screen")
# ax.set_xlabel("Concentration (mg/ml)")
# ax.set_ylabel("MFI Ratio \n Transfected/Untransfected")
# ax.legend()

# texts = []
# for row in Top10.itertuples(index = False):
#     ab, conc, MFI = row[4], row[5], row[3]
#     ax.annotate(row[4], xy = (conc, MFI), textcoords = "offset points", xytext = (8, -2), ha ='left')
#     #texts.append(plt.text(ab, conc, MFI))