In [1]:
import pandas as pd, ipywidgets as widgets, numpy as np, matplotlib.pyplot as plt
import io as io
#from adjustText import adjust_text
raw_uploader, eln_uploader = widgets.FileUpload(multiple = False), widgets.FileUpload(multiple = False)
display("Upload iQue3 Data (csv)")
display(raw_uploader)
display("Upload ELN w/ Antibodies Sheet (xlsx)")
display(eln_uploader)

'Upload iQue3 Data (csv)'

FileUpload(value={}, description='Upload')

'Upload ELN w/ Antibodies Sheet (xlsx)'

FileUpload(value={}, description='Upload')

In [2]:
iquename, elnname = list(raw_uploader.value.keys())[0], list(eln_uploader.value.keys())[0]
iquedata = pd.read_csv(io.BytesIO(raw_uploader.value[iquename]['content']))
eln = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']))
ab_sheet = pd.read_excel(io.BytesIO(eln_uploader.value[elnname]['content']), sheet_name = "Antibody Plate Map")
iquedata

,Experiment,Analysis,Plate,Export Date and Time,Well ID,Row,Column,Well Type,Count of All Wells,Median BL1-H of singlets,Median RL1-H of singlets,Count of singlets
0,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,A01,A,1,Positive,3719,428137.0,245752.0,1107
1,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,B01,B,1,Positive,4505,661697.0,265689.0,963
2,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,C01,C,1,Positive,5331,2605132.0,599333.5,1352
3,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,D01,D,1,Positive,5865,1933594.0,638902.0,1687
4,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,E01,E,1,Positive,4579,1115969.0,439619.0,1178
...,...,...,...,...,...,...,...,...,...,...,...,...
267,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,D21,D,21,Negative,1104,11034.0,110561.0,279
268,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,E21,E,21,Negative,886,11484.0,78084.0,184
269,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,F21,F,21,Negative,1267,11385.0,75681.0,243
270,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,G21,G,21,Negative,805,12155.5,4923.0,232
271,22_06_21 4-1BB TB694 Primary Screen,Analysis 1,Plate 1,6/22/22 12:57,H21,H,21,Negative,2025,11738.5,2375.5,1142

In [3]:
data_cleaned = iquedata[["Plate", "Well ID", "Well Type", "Median RL1-H of singlets"]]
data_cleaned

       Plate Well ID Well Type  Median RL1-H of singlets
0    Plate 1     A01  Positive                  245752.0
1    Plate 1     B01  Positive                  265689.0
2    Plate 1     C01  Positive                  599333.5
3    Plate 1     D01  Positive                  638902.0
4    Plate 1     E01  Positive                  439619.0
..       ...     ...       ...                       ...
267  Plate 1     D21  Negative                  110561.0
268  Plate 1     E21  Negative                   78084.0
269  Plate 1     F21  Negative                   75681.0
270  Plate 1     G21  Negative                    4923.0
271  Plate 1     H21  Negative                    2375.5

[272 rows x 4 columns]

In [7]:
#Return data frame with only samples of the well type specified
def clean_for_well_type(well_type_string):
    return data_cleaned[data_cleaned["Well Type"] == well_type_string]

#Average function that takes a string indicating the well type of interest (marked in iQue3 software, or manually changed
#Separates n=1 and n=2 replicates from 384 well format, resets indeces, and averages
#Returns a series with the averaged MFI ratios, removing the replicate wells
def average_MFI(well_type_string):
    selected_wells = clean_for_well_type(well_type_string)
    MFIs = selected_wells["Median RL1-H of singlets"]
    firsts = MFIs.iloc[::2]
    seconds = MFIs.iloc[1::2]
    firsts.reset_index(inplace = True, drop = True)
    seconds.reset_index(inplace = True, drop = True)
    average = firsts + seconds
    average = average/2
    return average

#Calculates the MFI ratio given a positive and negative series, 
#and appends the MFI ratio to the original data frame, excluding the negative population
def calculate_MFI_Ratio(positive, negative):
    MFI_ratio = positive/negative
    original_positive = clean_for_well_type("Positive")
    original_positive = original_positive[::2]
    original_positive.reset_index(inplace = True, drop = True)
    original_positive["MFI Ratio"] = MFI_ratio
    MFIs_Antibody = pd.concat([original_positive, ab_sheet], axis = 1)
    MFIs_Antibody.index += 1
    return MFIs_Antibody[["Plate", "Well ID", "Well Type", "MFI Ratio", "DNA"]]

In [8]:
averagePositive = average_MFI("Positive")
averageNegative = average_MFI("Negative")

In [14]:
#Create new DF for MFI ratios(don't modify originals)
MFI_Ratios_Antibody = calculate_MFI_Ratio(averagePositive, averageNegative)
MFI_Ratios_Antibody
MFI_Ratios_Antibody.to_excel(elnname, sheet_name='Analyzed Data')
AllLeadsSorted = MFI_Ratios_Antibody.sort_values(by="MFI Ratio", ascending = False)
AllLeadsSorted

      Plate Well ID Well Type  MFI Ratio           DNA
2   Plate 1     C01  Positive  41.932863     TB694-004
36  Plate 1     G05  Positive  33.455610     TB694-007
67  Plate 1     E09  Positive  29.743219       MAB8682
66  Plate 1     C09  Positive  26.055510        BAF868
3   Plate 1     E01  Positive  24.543174     TB694-006
..      ...     ...       ...        ...           ...
5   Plate 1     I01  Positive   1.981191     TB694-034
62  Plate 1     K08  Positive   1.979700     TB694-059
25  Plate 1     A04  Positive   1.865489     TB694-026
37  Plate 1     I05  Positive   1.780594     TB694-033
68  Plate 1     G09  Positive   1.520792  4-1BB Ligand

[68 rows x 5 columns]

In [ ]:
# #Sort DF by highest MFI ratio (top hits)
# AllLeadsSorted = MFIRatio_Antibody_cleaned.sort_values(by="MFI Ratio", ascending = False)
# Top10 = MFIRatio_Antibody_cleaned.nlargest(10, "MFI Ratio")
# #Top10 = Top10.append(MFIRatio_Antibody_cleaned.loc[MFIRatio_Antibody_cleaned["DNA"] == "SC-175-017"])
# fig, ax = plt.subplots()
# ax.scatter(x = AllLeadsSorted["Protein Concentration (ug/uL)"], y=AllLeadsSorted["MFI Ratio"], alpha = .2, color = "blue")
# ax.scatter(x = Top10["Protein Concentration (ug/uL)"], y = Top10["MFI Ratio"], alpha = .8, color = "blue", label = "Top Hits")
# ax.set_title("CD40 Primary Screen")
# ax.set_xlabel("Concentration (mg/ml)")
# ax.set_ylabel("MFI Ratio \n Transfected/Untransfected")
# ax.legend()

# texts = []
# for row in Top10.itertuples(index = False):
#     ab, conc, MFI = row[4], row[5], row[3]
#     ax.annotate(row[4], xy = (conc, MFI), textcoords = "offset points", xytext = (8, -2), ha ='left')
#     #texts.append(plt.text(ab, conc, MFI))